<!DOCTYPE html>
<html>
      <head>
           <title>About US</title>
           <link rel="stylesheet"  href="css/about.css" />
      </head>
      <body>
        <h2>{{>header}} </h2>
              <section class="about-section section-padding" id="about">
          <div class="container">
              <div class="row align-items-center justify-content-center">
                  <div class="about-image">
                      <div class="img-box">
                          <img src={{img2}} alt="">
                          <div class="about-shape"></div>
                      </div>
                  </div>
                  <div class="about-content">
                      <div class="section-title">
                          <h5 class="sub-title">{{title}}</h5>
                          <h3 class="main-title">{{offer}}</h3>
                          <ul class="line">
                              <li></li>
                              <li></li>
                              <li></li>
                          </ul>
                      </div>
                      <p>{{desc}}</p>
                      <p>{{desc2}}</p>

                  </div>
              </div>
          </div>
      </section>
        <h2>{{>footer}} </h2>
      </body>
</html>